<div ng-controller="ShellController as vm" class="md-default-theme">
    <div layout="column" layout-fill class="navbar">
        <md-toolbar md-scroll-shrink class="">
            <div class="row">
                <div class="search"><input type="search" /></div>
                <span ui-sref="landing">DC Campaign Finance Watch</span>
                <span flex></span>
            </div>
        </md-toolbar>
    </div>
    <div ui-view class="shuffle-animation"></div>

    <div ngplus-overlay
         ngplus-overlay-delay-in="50"
         ngplus-overlay-delay-out="700"
         ngplus-overlay-animation="dissolve-animation">
        <img src="../../content/images/busy.gif"/>

        <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>
</div>
